<div class="col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">Tweets</div>
		<% for @p in @posts %>
		<div class="panel-body">
			<p><%= @p.content %></p>
		</div>
		<%end%>
	</div>
</div>
