<style>
  #post-media {
    margin-bottom: -21px;
  }

  .panel-body {
    width: 100%;
  }

  .media-body .form-control {
    height: 35px;
  }
</style>

<div class="container">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p><%= link_to 'Create new post' new_post_path(@post), class: 'nav-item nav-link' %></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
      <div class="panel panel-default" id="post-media">
        <div class="panel-body" id="post-divide">
        <% for @p in @posts %>
          <div class="media">
            <div class="media-body">
              <div class="media-heading">
                <h4><%= User.find(@p.user_id).username %> -<span class="post-time"> Created <%= time_ago_in_words(@p.created_at) %> ago</span> </h4>
              </div>
              <p><%= @p.content %></p>
            </div> 
          </div> <hr>
        <%end%>
        </div>      
      </div>
  </div>
</div>