<% if !user_signed_in? %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'nav-item nav-link' %>
  <%= link_to "Sign in", new_user_session_path, class: 'nav-item nav-link' %>
  <h1>Home page if not signed in</h1>
	<%= Post.all %>
<% else %>
  <script>document.location = "/home" </script>‘
<% end %>
